{% extends '::base.html.twig' %}

{% block title %}CalendarBundle{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@bootstrap_css'
        '@fullcalendar_css'
        'bundles/sgcalendar/css/smoothness/jquery-ui-1.10.3.custom.min.css'
        filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block body%}

    {% block scripts %}
        {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            '@fullcalendar_js'
            'bundles/sgcalendar/js/jquery-ui-1.10.3.custom.min.js'
            'bundles/sgcalendar/js/jquery.ui.datepicker-de.js'
            'bundles/sgcalendar/js/sgcalendar.js'
            'bundles/sgrrule/js/underscore-min.js'
            'bundles/sgrrule/js/rrule.js'
            'bundles/sgrrule/js/nlp.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <script>
        global = {
            locale : "{{ app.request.locale }}"
        }
        $(document).ready(function() {
            sg_calendar_datepicker.initLocale();
            sg_calendar_datepicker.initDatePicker();
        });
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('sg_calendar') }}">SgCalendarBundle</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#" class="pull-right">Locale: {{ app.request.locale }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 45px;">
        <div class="row">
            <div class="span12">
                {% block header %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="span4">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="span8">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            <button class="close" data-dismiss="alert" type="button">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
