{% extends '::base.html.twig' %}

{% block title %}CalendarBundle{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@bootstrap_css'
        '@fullcalendar_css'
        'bundles/sgcalendar/css/smoothness/jquery-ui-1.10.3.custom.min.css'
        filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block body%}

    {% block scripts %}
        {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            '@fullcalendar_js'
            'bundles/sgcalendar/js/jquery-ui-1.10.3.custom.min.js'
            'bundles/sgcalendar/js/jquery.ui.datepicker-de.js'
            'bundles/sgcalendar/js/sgcalendar.js'
            'bundles/sgrrule/js/underscore-min.js'
            'bundles/sgrrule/js/rrule.js'
            'bundles/sgrrule/js/nlp.js'
            'bundles/sgrrule/js/moment.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <script>
        global = {
            locale : "{{ app.request.locale }}"
        }

        $.ajaxSetup({
            beforeSend:function(){
                $("#ajax_spinner_img").show();
            },
            complete:function(){
                $("#ajax_spinner_img").hide();
            }
        });

        function getReminders() {
            $.post("{{ path('sg_calendar_get_reminders') }}", null, function(data) {
                if (data.method) {
                    if (data.method == "POPUP") {
                        alert(data.title);
                    }
                }
            });
        }

        $(document).ready(function() {
            sg_calendar_datepicker.initLocale();
            sg_calendar_datepicker.initDatePicker();

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                setInterval(getReminders, 10000);
            {% endif %}
        });
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('sg_calendar') }}">SgCalendarBundle</a>

                {{ knp_menu_render('SgCalendarBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'SgCalendarBundle:Menu:theme.html.twig'}) }}

                <p class="navbar-text pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <i class="icon-user icon-white"></i>
                        {{ 'calendar.layout.loggedInAs'|trans({}, 'messages') }} <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a> |
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'calendar.layout.logout'|trans({}, 'messages') }}</a>

                    {% else %}

                        <a class="btn btn-mini btn-inverse" href="{{ path('fos_user_security_login') }}"><i class="icon-lock icon-white"></i> {{ 'calendar.layout.login'|trans({}, 'messages') }}</a>
                        <a class="btn btn-mini btn-inverse" href="{{ path('fos_user_registration_register') }}"><i class="icon-plus icon-white"></i> {{ 'calendar.layout.register'|trans({}, 'messages') }}</a>

                    {% endif %}
                </p>

                <div style="margin-top: 10px">
                    <span id="ajax_spinner_container">
                        <img src="{{ asset('bundles/sgcalendar/img/ajax-loader.gif') }}" id="ajax_spinner_img" class="hide" title="working...">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 45px;">
        <div class="row">
            <div class="span12">
                {% block header %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="span4">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="span8">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            <button class="close" data-dismiss="alert" type="button">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
