{% extends '::base.html.twig' %}

{% block title %}CalendarBundle{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('bundles/sgcalendar/css/fullcalendar.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body%}

    {% block scripts %}

        <script src="{{ asset('bundles/sgcalendar/js/jquery-2.0.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sgcalendar/js/fullcalendar.min.js') }}" type="text/javascript"></script>

    {% endblock %}

    <div class="container">

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

{% endblock %}
