<label class="checkbox">
    <input class="eventcheckboxes" id="calendar_{{ calendar.id }}" type="checkbox" name="{{ calendar.eventsUrl }}" value="{{ calendar.id }}">
    {% if calendar.visible %}
        <span class="text-error">{{ calendar.name }}</span>
    {% else %}
        {{ calendar.name }}
    {% endif %}
    {% if is_granted('OWNER', calendar) %}
        {# show #}
        <a href="{{ path('sg_calendar_get_calendar', { 'id': calendar.id }) }}" data-placement="top" data-toggle="tooltip"
           title="{{ 'calendar.action.show'|trans({}, 'messages') }}" data-original-title="{{ 'calendar.action.show'|trans({}, 'messages') }}">
            <i class="icon-eye-open"></i>
        </a>
        {# edit #}
        <a href="{{ path('sg_calendar_edit_calendar', { 'id': calendar.id }) }}" data-placement="top" data-toggle="tooltip"
           title="{{ 'calendar.action.edit'|trans({}, 'messages') }}" data-original-title="{{ 'calendar.action.edit'|trans({}, 'messages') }}">
            <i class="icon-edit"></i>
        </a>
        {# delete #}
        <a href="{{ path('sg_calendar_remove_calendar', { 'id': calendar.id }) }}" data-placement="top" data-toggle="tooltip"
           title="{{ 'calendar.action.remove'|trans({}, 'messages') }}" data-original-title="{{ 'calendar.action.remove'|trans({}, 'messages') }}">
            <i class="icon-trash"></i>
        </a>
    {% endif %}
    {% if is_granted('FAVORITE', calendar) %}
        {# delete favorite #}
        <a href="javascript:void(0)" id="delete_favorite_calendar_{{ calendar.id }}" onclick="return !deleteFavorite({{ calendar.id }});" data-placement="top" data-toggle="tooltip"
           title="{{ 'calendar.action.removeFavorite'|trans({}, 'messages') }}" data-original-title="{{ 'calendar.action.removeFavorite'|trans({}, 'messages') }}">
            <i class="icon-remove-circle"></i>
        </a>
    {% endif %}
</label>

<script type="text/javascript">
    function deleteFavorite(id) {
        $.ajax({
            url: "{{ path('sg_calendar_delete_favorite') }}",
            type: "GET",
            cache: false,
            data: {
                'id': id
            },
            success: function(response) {
                if(response.message) {
                    alert(response.message);
                }
                $("#delete_favorite_calendar_" + id).parent().remove();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
            }
        })

        return true;
    }
</script>