{% extends 'SgCalendarBundle::layout.html.twig' %}
{% form_theme edit_form 'SgCalendarBundle:Form:theme.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.edit.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.edit.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal well'}, 'action': path('sg_calendar_update_calendar', { 'id': entity.id }) }) }}
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <button formnovalidate="formnovalidate" class="btn btn-primary" type="submit">{{ 'calendar.calendar.action.edit.submit'|trans({}, 'messages') }}</button>
        </div>
    {{ form_end(edit_form) }}

{% endblock %}