{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.get.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.get.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    <table>
        <tbody>
            <tr>
                <th>{{ 'calendar.entity.calendar.id'|trans({}, 'messages') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.name'|trans({}, 'messages') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.eventsUrl'|trans({}, 'messages') }}</th>
                <td>{{ entity.eventsUrl }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.visible'|trans({}, 'messages') }}</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.createdAt'|trans({}, 'messages') }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.updatedAt'|trans({}, 'messages') }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.createdBy'|trans({}, 'messages') }}</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.calendar.updatedBy'|trans({}, 'messages') }}</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sg_calendar') }}">
                {{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}
            </a>
        </li>
        {% if is_granted('OWNER', entity) %}
            <li>
                <a href="{{ path('sg_calendar_edit_calendar', { 'id': entity.id }) }}">
                    {{ 'calendar.calendar.action.edit.title'|trans({}, 'messages') }}
                </a>
            </li>
            <li>
                <a href="{{ path('sg_calendar_remove_calendar', { 'id': entity.id }) }}">
                    {{ 'calendar.calendar.action.remove.title'|trans({}, 'messages') }}
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}