{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block right_header %}

    <div class="row">
        <div class="span4">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="javascript:void(0)" onclick="return !changeView('prev');"
                       class="btn" type="button"><i class="icon-chevron-left"></i></a>
                    <a href="javascript:void(0)" onclick="return !changeView('next');"
                       class="btn" type="button"><i class="icon-chevron-right"></i></a>
                    <a href="javascript:void(0)" onclick="return !changeView('today');"
                       class="btn" type="button">{{ 'calendar.fullcalendar.button.today'|trans({}, 'messages') }}</a>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="javascript:void(0)" onclick="return !changeView('month');"
                       class="btn" type="button">{{ 'calendar.fullcalendar.button.month'|trans({}, 'messages') }}</a>
                    <a href="javascript:void(0)" onclick="return !changeView('agendaWeek');"
                       class="btn" type="button">{{ 'calendar.fullcalendar.button.week'|trans({}, 'messages') }}</a>
                    <a href="javascript:void(0)" onclick="return !changeView('agendaDay');"
                       class="btn" type="button">{{ 'calendar.fullcalendar.button.day'|trans({}, 'messages') }}</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <script type="text/javascript">
        function changeView(name) {
            $(".fc-button-" + name).click();

            return true;
        }
    </script>

{% endblock %}

{% block sidebar %}

    {# Buttons #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <a href="{{ path('sg_calendar_new_calendar') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newCalendar'|trans({}, 'messages') }}
        </a>

        <a href="{{ path('sg_calendar_new_event') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newEvent'|trans({}, 'messages') }}
        </a>

        <hr />

    {% endif %}

    {# Datepicker #}
    {{ render_datepicker() }}

    {# Calendars #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        {# Public calendars #}
        <hr />

        <h4>{{ 'calendar.calendar.action.index.publicCalendars'|trans({}, 'messages') }} ({{ count_public_calendars }})</h4>
        {{ render(controller("SgCalendarBundle:Search:newCalendarSearch")) }}

        <div id="publicCalendars">
            {% for calendar in user_favorite_public_calendars %}
                {% include "SgCalendarBundle:Calendar:calendarListRow.html.twig" %}
            {% endfor %}
        </div>

        {# User calendars #}
        {% if user_calendars|length > 0 %}
            <hr />
            <h4>{{ 'calendar.calendar.action.index.myCalendars'|trans({}, 'messages') }}</h4>
        {% endif %}

        {% for calendar in user_calendars %}
            {% include "SgCalendarBundle:Calendar:calendarListRow.html.twig" %}
        {% endfor %}

    {% endif %}

{% endblock %}

{% block content %}

    {{ render_full_calendar(update_xhr_event_url) }}

{% endblock %}