{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}

    {# Buttons #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <a href="{{ path('sg_calendar_new_calendar') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newCalendar'|trans({}, 'messages') }}
        </a>

        <a href="{{ path('sg_calendar_new_event') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newEvent'|trans({}, 'messages') }}
        </a>

        <hr />

    {% endif %}

    {# Datepicker #}
    {{ render_datepicker() }}

    {# Public calendars #}
    <hr />

    <h4>{{ 'calendar.calendar.action.index.publicCalendars'|trans({}, 'messages') }} ({{ count_public_calendars }})</h4>
    {{ render(controller("SgCalendarBundle:Search:newCalendarSearch")) }}

    <div id="publicCalendars">
        {% for calendar in user_favorite_public_calendars %}
            {% include "SgCalendarBundle:Calendar:calendarListRow.html.twig" %}
        {% endfor %}
    </div>

    {# User calendars #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        {% if user_calendars|length > 0 %}
            <hr />
            <h4>{{ 'calendar.calendar.action.index.myCalendars'|trans({}, 'messages') }}</h4>
        {% endif %}

        {% for calendar in user_calendars %}
            {% include "SgCalendarBundle:Calendar:calendarListRow.html.twig" %}
        {% endfor %}

    {% endif %}

{% endblock %}

{% block content %}

    {{ render_full_calendar(update_xhr_event_url) }}

{% endblock %}