{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}

    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}

        <a href="{{ path('sg_calendar_new_event') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newEvent'|trans({}, 'messages') }}
        </a>

        <a href="{{ path('sg_calendar_new_calendar') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newCalendar'|trans({}, 'messages') }}
        </a>

        <hr />

    {% endif %}

    {{ render_datepicker() }}

    <hr />

    <h4>{{ 'calendar.calendar.action.index.publicCalendars'|trans({}, 'messages') }}</h4>

    {% for calendar in visible_calendars %}
        <label class="checkbox">
            <input class="eventcheckboxes" type="checkbox" name="calendar[]" value="{{ calendar.id }}">
            {{ calendar.name }}
        </label>
    {% endfor %}

    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}

        <hr />

        <h4>{{ 'calendar.calendar.action.index.myCalendars'|trans({}, 'messages') }}</h4>

        {% for calendar in user_calendars %}
            <label class="checkbox">
                <input class="eventcheckboxes" type="checkbox" name="calendar[]" value="{{ calendar.id }}">
                {{ calendar.name }}
            </label>
        {% endfor %}

    {% endif %}

{% endblock %}

{% block content %}

    {{ render_full_calendar(update_xhr_event_url) }}

{% endblock %}