{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <a href="{{ path('sg_calendar_new_calendar') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newCalendar'|trans({}, 'messages') }}
        </a>

        <a href="{{ path('sg_calendar_new_event') }}" class="btn btn-primary" type="button">
            {{ 'calendar.calendar.action.index.newEvent'|trans({}, 'messages') }}
        </a>

        <hr />

    {% endif %}

    {{ render_datepicker() }}

    <hr />

    <h4>{{ 'calendar.calendar.action.index.publicCalendars'|trans({}, 'messages') }} ({{ count_visible_calendars }})</h4>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        {% if user_calendars|length > 0 %}
            <hr />
            <h4>{{ 'calendar.calendar.action.index.myCalendars'|trans({}, 'messages') }}</h4>
        {% endif %}

        {% for calendar in user_calendars %}
            <label class="checkbox">
                <input class="eventcheckboxes" type="checkbox" name="{{ calendar.eventsUrl }}" value="{{ calendar.id }}">
                {% if calendar.visible %}
                    <span class="text-error">{{ calendar.name }}</span>
                {% else %}
                    {{ calendar.name }}
                {% endif %}
                {% if is_granted('OWNER', calendar) %}
                    <a href="{{ path('sg_calendar_get_calendar', { 'id': calendar.id }) }}">
                        {{ 'calendar.action.show'|trans({}, 'messages') }}
                    </a> |
                    <a href="{{ path('sg_calendar_edit_calendar', { 'id': calendar.id }) }}">
                        {{ 'calendar.action.edit'|trans({}, 'messages') }}
                    </a> |
                    <a href="{{ path('sg_calendar_remove_calendar', { 'id': calendar.id }) }}">
                        {{ 'calendar.action.remove'|trans({}, 'messages') }}
                    </a>
                {% endif %}
            </label>
        {% endfor %}

    {% endif %}

{% endblock %}

{% block content %}

    {{ render_full_calendar(update_xhr_event_url) }}

{% endblock %}