{% extends 'SgCalendarBundle::layout.html.twig' %}
{% form_theme form 'SgCalendarBundle:Form:theme.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.new.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.new.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal well'}, 'action': path('sg_calendar_create_calendar') }) }}
        {{ form_widget(form) }}
        <div class="form-actions">
            <button formnovalidate="formnovalidate" class="btn btn-primary" type="submit">{{ 'calendar.calendar.action.new.submit'|trans({}, 'messages') }}</button>
        </div>
    {{ form_end(form) }}

{% endblock %}