{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.remove.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.calendar.action.remove.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    <table>
        <tbody>
            <tr>
                <th>{{ 'calendar.entity.calendar.name'|trans({}, 'messages') }}:</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

    {% set confirmMsg = 'calendar.calendar.action.remove.confirm'|trans({}, 'messages') %}

    {{ form_start(remove_form, {'action': path('sg_calendar_delete_calendar', { 'id': entity.id }) }) }}
        {{ form_widget(remove_form) }}
        <p>
            <button formnovalidate="formnovalidate" type="submit" onclick="if(!confirm('{{ confirmMsg }}')) { return false; }">
                {{ 'calendar.calendar.action.remove.submit'|trans({}, 'messages') }}
            </button>
        </p>
    {{ form_end(remove_form) }}

{% endblock %}