{% extends 'form_div_layout.html.twig' %}

{# Bootstrap #}

{% block form_row %}
    {% spaceless %}
        <div class="control-group{{ errors|length > 0 ? ' error' : '' }}">
            {{ form_label(form) }}

            <div class="controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <span>
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {% if required %}*{% endif %}
        </label>
    {% endspaceless %}
{% endblock %}

{# DatePicker && DateTimePicker#}

{% block datePicker_widget %}
    {% spaceless %}
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' SgCalendarDatePicker')|trim)}) %}
        {% set  id = id ~ "_datepicker" %}
        {% set  full_name = "datepicker_" ~ full_name  %}
        <input type="text" {{ block('widget_attributes') }}/>
    {% endspaceless %}
{% endblock %}

{% block dateTimePicker_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' SgCalendarDateTimePicker')|trim}) %}

    {{ form_errors(form.date) }}
    {{ form_errors(form.time) }}
    {{ form_widget(form.date, {'id' : id ~ '_date'}) }}
    {{ form_widget(form.time, {'id' : id ~ '_time'}) }}
{% endblock %}

{# Autocomplete #}

{% block autocomplete_widget %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <script>
            $(document).ready(function() {

                function selected(message, id) {
                    {# save as user favorite #}
                    $.ajax({
                        url: "{{ path('sg_calendar_save_favorite') }}",
                        type: "GET",
                        cache: false,
                        data: {
                            'id': id
                        },
                        success: function(response) {
                            if(response.message) {
                                alert(response.message);
                            } else {
                                $("#publicCalendars").append(response);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
                        }
                    })
                }

                $("#{{ form.vars.id }}").autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: "{{ path('sg_calendar_search_calendars') }}",
                            type: "GET",
                            cache: false,
                            dataType: "json",
                            data: {
                                term: request.term
                            },
                            success: function(data) {
                                response($.map(data, function(item) {
                                    return {
                                        label: item.name,
                                        value: item.id
                                    }
                                }));
                            }
                        });
                    },
                    minLength: 2,
                    select: function(event, ui) {
                        selected(ui.item.label, ui.item.value);
                        $(this).val("");
                        return false;
                    },
                    open: function() {
                        $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                    },
                    close: function() {
                        $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                    }
                });

            });
        </script>

    {% endif %}

    {{ form_widget(form) }}

{% endblock %}

