{% extends 'SgCalendarBundle::layout.html.twig' %}
{% form_theme edit_form 'SgCalendarBundle:Form:sg_calendar_form_widgets.html.twig' %}

{% block title %}{{ 'calendar.event.action.edit.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.event.action.edit.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    {{ form_start(edit_form, {'action': path('sg_calendar_update_event', { 'id': entity.id }) }) }}
        {{ form_widget(edit_form) }}
        <p>
            <button formnovalidate="formnovalidate" type="submit">{{ 'calendar.event.action.edit.submit'|trans({}, 'messages') }}</button>
        </p>
    {{ form_end(edit_form) }}

{% endblock %}
