{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'sg.calendar.title.event.edit'|trans({}, 'CalendarBundle') }}{% endblock %}

{% block content %}

    <h2>{{ 'sg.calendar.title.event.edit'|trans({}, 'CalendarBundle') }}</h2>

    <hr />

    {{ form_start(edit_form, {'action': path('sg_calendar_event_update', { 'id': entity.id }) }) }}
        {{ form_widget(edit_form) }}
        <p>
            <button formnovalidate="formnovalidate" type="submit">{{ 'sg.calendar.event.edit'|trans({}, 'CalendarBundle') }}</button>
        </p>
    {{ form_end(edit_form) }}

{% endblock %}
