<fieldset>
    <legend>Event</legend>
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.allDay) }}
    {{ form_row(form.start) }}
    {{ form_row(form.end) }}
    {{ form_row(form.description) }}
    {{ form_row(form.calendar) }}
    {{ form_row(form.className) }}
    {{ form_row(form.editable) }}
    {{ form_row(form.attendable) }}
    {{ form_row(form.color) }}
    {{ form_row(form.status) }}
    {{ form_row(form._token) }}
</fieldset>

<fieldset>
    <legend>Recurrences</legend>
    <ul class="recurrences unstyled" data-prototype="{{ form_widget(form.recurrences.vars.prototype)|e }}">

        {% for recurrence in form.recurrences %}
            <li class="recurrence_form">
                {{ form_row(recurrence.period) }}
                {{ form_row(recurrence.multiple) }}
                {{ form_row(recurrence.end) }}
            </li>
        {% endfor %}

    </ul>
</fieldset>

<script type="text/javascript">
    var collectionHolder = $('ul.recurrences');
    var $addLink = $('<a href="#" class="add_link">Hinzufügen</a>');
    var $newLinkLi = $('<li></li>').append($addLink);

    function addFormDeleteLink($FormLi) {
        var $removeFormA = $('<a href="#">Löschen</a>');
        $FormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $FormLi.remove();
        });
    }

    function addForm(collectionHolder, $newLinkLi) {
        var prototype = collectionHolder.data('prototype');
        var index = collectionHolder.data('index');
        var newForm = prototype.replace(/__name__/g, index);

        collectionHolder.data('index', index + 1);

        var $newFormLi = $('<li class="recurrence_form"></li>').append(newForm);
        $newLinkLi.before($newFormLi);

        addFormDeleteLink($newFormLi);

        sg_calendar_datepicker.initDatePicker();
    }

    jQuery(document).ready(function() {
        collectionHolder.find('li.recurrence_form').each(function() {
            addFormDeleteLink($(this));
        });

        collectionHolder.append($newLinkLi);

        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addLink.on('click', function(e) {
            e.preventDefault();
            addForm(collectionHolder, $newLinkLi);
        });
    });
</script>