{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.event.action.get.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.event.action.get.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
    {% if (entity.attendees|length > 0) %}
        <p>Teilnehmer: bisher {{ entity.attendees|length }}</p>
    {% else %}
        <p>Teilnehmer: bisher keiner</p>
    {% endif %}

    <ul class='unstyled'>
        {% for attendee in entity.attendees %}
            <li><i class='icon-user'></i> {{ attendee }}</li>
        {% endfor %}
    </ul>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if entity.hasAttendee(app.user) %}
            <a href="{{ path('sg_calendar_unattend_event', {'id': entity.id}) }}">Nicht teilnehmen</a>
        {% else %}
            <a href="{{ path('sg_calendar_attend_event', {'id': entity.id}) }}">Teilnehmen</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

    <table>
        <tbody>
            <tr>
                <th>{{ 'calendar.entity.event.id'|trans({}, 'messages') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.title'|trans({}, 'messages') }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.allDay'|trans({}, 'messages') }}</th>
                <td>{{ entity.allDay }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.start'|trans({}, 'messages') }}</th>
                <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% if entity.end is not null %}
                <tr>
                    <th>{{ 'calendar.entity.event.end'|trans({}, 'messages') }}</th>
                    <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'calendar.entity.event.calendar'|trans({}, 'messages') }}</th>
                <td>{{ entity.calendar }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.url'|trans({}, 'messages') }}</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.className'|trans({}, 'messages') }}</th>
                <td>{{ entity.className }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.editable'|trans({}, 'messages') }}</th>
                <td>{{ entity.editable }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.attendable'|trans({}, 'messages') }}</th>
                <td>{{ entity.editable }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.color'|trans({}, 'messages') }}</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.bgColor'|trans({}, 'messages') }}</th>
                <td>{{ entity.bgColor }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.borderColor'|trans({}, 'messages') }}</th>
                <td>{{ entity.borderColor }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.textColor'|trans({}, 'messages') }}</th>
                <td>{{ entity.textColor }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.createdAt'|trans({}, 'messages') }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.updatedAt'|trans({}, 'messages') }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.createdBy'|trans({}, 'messages') }}</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>{{ 'calendar.entity.event.updatedBy'|trans({}, 'messages') }}</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sg_calendar') }}">
                {{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}
            </a>
        </li>
        {% if is_granted('OWNER', entity) %}
            <li>
                <a href="{{ path('sg_calendar_edit_event', { 'id': entity.id }) }}">
                    {{ 'calendar.event.action.edit.title'|trans({}, 'messages') }}
                </a>
            </li>
            <li>
                <a href="{{ path('sg_calendar_remove_event', { 'id': entity.id }) }}">
                    {{ 'calendar.event.action.remove.title'|trans({}, 'messages') }}
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}