{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.event.action.get.title'|trans({}, 'messages') }}{% endblock %}

{% block content %}

    <h2>{{ 'calendar.event.action.get.title'|trans({}, 'messages') }}</h2>

    <hr />

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Allday</th>
                <td>{{ entity.allDay }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Classname</th>
                <td>{{ entity.className }}</td>
            </tr>
            <tr>
                <th>Editable</th>
                <td>{{ entity.editable }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Bgcolor</th>
                <td>{{ entity.bgColor }}</td>
            </tr>
            <tr>
                <th>Bordercolor</th>
                <td>{{ entity.borderColor }}</td>
            </tr>
            <tr>
                <th>Textcolor</th>
                <td>{{ entity.textColor }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sg_calendar') }}">
                {{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}
            </a>
        </li>
        <li>
            <a href="{{ path('sg_calendar_edit_event', { 'id': entity.id }) }}">
                {{ 'calendar.event.action.edit.title'|trans({}, 'messages') }}
            </a>
        </li>
        <li>
            <a href="{{ path('sg_calendar_remove_event', { 'id': entity.id }) }}">
                {{ 'calendar.event.action.remove.title'|trans({}, 'messages') }}
            </a>
        </li>
    </ul>

{% endblock %}