{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'sg.calendar.title.event.new'|trans({}, 'CalendarBundle') }}{% endblock %}

{% block content %}

    <h2>{{ 'sg.calendar.title.event.new'|trans({}, 'CalendarBundle') }}</h2>

    <hr />

    <form action="{{ path('sg_calendar_event_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'sg.calendar.event.create'|trans({}, 'CalendarBundle') }}</button>
        </p>
    </form>

{% endblock %}