{% extends 'SgCalendarBundle::layout.html.twig' %}
{% form_theme remove_form 'SgCalendarBundle:Form:theme.html.twig' %}

{% block title %}{{ 'calendar.event.action.remove.title'|trans({}, 'messages') }}{% endblock %}

{% block header %}

    <h2>{{ 'calendar.event.action.remove.title'|trans({}, 'messages') }}</h2>

    <hr />

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    {% set confirmMsg = 'calendar.event.action.remove.confirm'|trans({}, 'messages') %}

    {{ form_start(remove_form, {'attr': {'class': 'form-horizontal well'}, 'action': path('sg_calendar_delete_event', { 'id': entity.id }) }) }}
        {{ 'calendar.entity.event.title'|trans({}, 'messages') }}: {{ entity.title }}
        {{ form_widget(remove_form) }}
        <div class="form-actions">
            <button formnovalidate="formnovalidate" class="btn btn-danger" type="submit" onclick="if(!confirm('{{ confirmMsg }}')) { return false; }">
                {{ 'calendar.event.action.remove.submit'|trans({}, 'messages') }}
            </button>
        </div>
    {{ form_end(remove_form) }}

{% endblock %}

