{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'sg.calendar.title.event.show'|trans({}, 'CalendarBundle') }}{% endblock %}

{% block content %}

    <h2>{{ 'sg.calendar.title.event.show'|trans({}, 'CalendarBundle') }}</h2>

    <hr />

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Allday</th>
                <td>{{ entity.allDay }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Classname</th>
                <td>{{ entity.className }}</td>
            </tr>
            <tr>
                <th>Editable</th>
                <td>{{ entity.editable }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Bgcolor</th>
                <td>{{ entity.bgColor }}</td>
            </tr>
            <tr>
                <th>Bordercolor</th>
                <td>{{ entity.borderColor }}</td>
            </tr>
            <tr>
                <th>Textcolor</th>
                <td>{{ entity.textColor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sg_calendar_show') }}">
                {{ 'sg.calendar.title.calendar'|trans({}, 'CalendarBundle') }}
            </a>
        </li>
        <li>
            <a href="{{ path('sg_calendar_event_edit', { 'id': entity.id }) }}">
                {{ 'sg.calendar.title.event.edit'|trans({}, 'CalendarBundle') }}
            </a>
        </li>
        <li>
            <form action="{{ path('sg_calendar_event_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">{{ 'sg.calendar.event.delete'|trans({}, 'CalendarBundle') }}</button>
            </form>
        </li>
    </ul>

{% endblock %}